<main>
  <%= form_tag("/wines", method: "post") do %>
    <%= label_tag(:query, "Search for Wines: ") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>
  <%= render 'application/accreditiation' %>
  <!-- <% if @results %> -->
    <div id="results">
      <% @results.each do |result| %>
        <a href='/wines/<%= result["Id"] %>'>
          <article>
            <p><%= result["Name"] %></p>
          </article>
        </a>
      <% end %>
    </div>
  <!-- <% end %> -->

</main>
