<!DOCTYPE html>
<html>
<head>
  <title>TastingsInfo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="row">
      <a href='/' class='one-half column'>Home</a>
      <div class="one-half column">
        <%= render 'application/signinup' %>
      </div>
    </nav>

  <%= yield %>
  </div>
</body>
</html>
